<!doctype html>
<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="../static/css/styles.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
	  <a class="navbar-brand" href="{{ url_for( 'home' ) }}">DyslexHelp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<ul class="navbar-nav mr-auto">
	  		<li class="nav-item notactive">
	        	<a class="nav-link" href="{{ url_for( 'home' ) }}">HOME</a>
	      	</li>
	      	<li class="nav-item dropdown notactive">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          STUDENT
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_1' ) }}">LISTEN</a>
	          		<a class="dropdown-item" href="https://shaileshthedarkknight.github.io/">TUTORIAL</a>
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_2' ) }}">READ</a>
	          	</div>
	      	</li>
	      	<li class="nav-item dropdown notactive">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          TEACHER
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_1' ) }}">WORDS FOR LISTENING</a>
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_2' ) }}">WORDS FOR READING</a>
	          	</div>
	      	</li>
	      	<li class="nav-item active">
	        	<a class="nav-link" href="{{ url_for( 'about' ) }}">ABOUT</a>
	      	</li>
	  </div>
	</nav>
	
	<div class="row info">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h1 class="welcome">About Us</h1>
			<div class="card">
				<div class = "writeup">
					p>This application has been developed for enhancing the overall learning for kids with dyslexia. It has been observed that people with dyslexia are extremely smart but face small issues in recognising words. So, we have developed this application to help them to tackle this, while both listening and reading words. They face problems with words which have multiple syllables. They find it difficult to figure out which letter corresponds to which sound. Using this app, they can practise multiple times and master the words. I have tried to make this application as engaging as possible, also maintaining its simplicity. I really hope that you like this application.</p>
					<br>
					<ul style="list-style-type:none; text-align: right;">
						<li><b>Regards</b></li>
					  	<li>Shailesh Mishra</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	
	<div class = "row ending_2">
		<div class="col-sm-4 text-center"></div>
		<div class="col-sm-4 text-center">
			<div class="wrap">
				<button class="button" onclick="window.location.href='{{ url_for( 'home' ) }}';">GO BACK HOME</button>
			</div>
		</div>
		<div class="col-sm-4 text-center"></div>
	</div>
</body>
</html>
