<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="../static/css/homepage.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
	    	<img src="../static/img/front_page.png" alt="Front Page Logo" class="imagecenter">
	  	</div>
		<div class="row">
	    	<h1 style="text-align: center;" class = "welcome">Welcome! Let's get stronger!</h1>
	  	</div>
	  	<div class="row">
	    	<div class="col-sm-4 text-center">
	    		
	    		<div class="wrap">
  					<button class="button" onclick="window.location.href='{{ url_for( 'student' ) }}';">AS A STUDENT</button>
				</div>
	    	</div>
	    	<div class="col-sm-4 text-center">
	    		<div class="wrap">
  					<button class="button" onclick="window.location.href='{{ url_for( 'teacher' ) }}';">AS A TEACHER</button>
				</div>
	    	</div>
	    	<div class="col-sm-4 text-center">
	    		<div class="wrap">
  					<button class="button" onclick="window.location.href='{{ url_for( 'about' ) }}';">ABOUT US</button>
				</div>
	    	</div>
	  	</div>
	</div>	
</body>
</html>