<!doctype html>
<html>
<head>
	<title>Results Set 1</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="../static/css/styles.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
	  <a class="navbar-brand" href="{{ url_for( 'home' ) }}">DyslexHelp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<ul class="navbar-nav mr-auto">
	  		<li class="nav-item notactive">
	        	<a class="nav-link" href="{{ url_for( 'home' ) }}">HOME</a>
	      	</li>
	      	<li class="nav-item dropdown notactive">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          STUDENT
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_1' ) }}">LISTEN</a>
	          		<a class="dropdown-item" href="https://shaileshthedarkknight.github.io/">TUTORIAL</a>
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_2' ) }}">READ</a>
	          	</div>
	      </li>
	      	<li class="nav-item dropdown active">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          TEACHER
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_1' ) }}">WORDS FOR LISTENING</a>
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_2' ) }}">WORDS FOR READING</a>
	          	</div>
	      	</li>
	      	<li class="nav-item notactive">
	        	<a class="nav-link" href="{{ url_for( 'about' ) }}">ABOUT</a>
	      	</li>
	  </div>
	</nav>
	<div class="container">
		<h1 class="welcome" style="text-align: center;">Here is your performance</h1>
		<img src="../static/img/down.png" alt="Front Page Logo" class="imagecenter_1">
		<div class="row top" >
			<div class="col-sm-4 check_words in_word">
				<h1 class="res">Your Spelling</h1>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h1 class="res">Correct Spelling</h1>
			</div>
			<div class="col-sm-4 check_words out">
				<h1 class="res">Remarks</h1>
			</div>
		</div>
		<div class="row" >
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_1}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_1}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_1}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_2}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_2}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_2}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_3}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_3}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_3}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_4}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_4}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_4}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_5}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_5}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_5}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_6}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_6}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_6}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_7}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_7}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_7}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_8}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_8}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_8}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_9}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_9}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_9}}</h4>
			</div>
		</div>
		<div class="row bottom">
			<div class="col-sm-4 check_words in_word">
				<h4 class="res">{{a_10}}</h4>
			</div>
			<div class="col-sm-4 check_words real_word">
				<h4 class="res">{{b_10}}</h4>
			</div>
			<div class="col-sm-4 check_words out">
				<h4 class="res">{{c_10}}</h4>
			</div>
		</div>
		<h1 class="welcome" style="text-align: center;">Great Job! Let's practice more!</h1>
		<div class="row ending">
			<div class="col-sm-4 text-center"></div>
			<div class="col-sm-4 text-center">
	    		<div class="wrap">
  					<button class="button" onclick="window.location.href='{{ url_for( 'student' ) }}';">PRACTICE MORE!</button>
				</div>
	    	</div>
	    	<div class="col-sm-4 text-center"></div>
		</div>
	</div>
</body>
</html>