<!doctype html>
<html>
<head>
	<title>Student</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="../static/css/styles.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
	  <a class="navbar-brand" href="{{ url_for( 'home' ) }}">DyslexHelp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<ul class="navbar-nav mr-auto">
	  		<li class="nav-item notactive">
	        	<a class="nav-link" href="{{ url_for( 'home' ) }}">HOME</a>
	      	</li>
	      	<li class="nav-item dropdown active">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          STUDENT
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_1' ) }}">LISTEN</a>
	          		<a class="dropdown-item" href="https://shaileshthedarkknight.github.io/">TUTORIAL</a>
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_2' ) }}">READ</a>
	          	</div>
	      </li>
	      	<li class="nav-item dropdown notactive">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          TEACHER
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_1' ) }}">WORDS FOR LISTENING</a>
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_2' ) }}">WORDS FOR READING</a>
	          	</div>
	      	</li>
	      	<li class="nav-item notactive">
	        	<a class="nav-link" href="{{ url_for( 'about' ) }}">ABOUT</a>
	      	</li>
	  </div>
	</nav>
	<div class="container">
		<div class="row" style="margin-top: 10%;">
			<div class="col-sm-4">
				<h3 class="heading3">LISTEN</h3>
				<div class="card">
					<div class = "writeup">
						<p>You will get here 10 words. You will listen to them and you have to try to spell them correctly.</p>
					</div>
				</div>
				<div class="text-center">
					<div class="wrap">
						<button class="button" onclick="window.location.href='{{ url_for( 'instructions_1' ) }}';">PROCEED</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<h3 class="heading3">TUTORIAL</h3>
				<div class="card">
					<div class = "writeup">
						<p>You'll get to learn here many words, their meaning and the way they are pronounced.</p>
					</div>
				</div>
				<div class="text-center">
					<div class="wrap">
						<button class="button" onclick="window.open('https://shaileshthedarkknight.github.io/','_blank');">PROCEED</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<h3 class="heading3">READ</h3>
				<div class="card">
					<div class = "writeup">
						<p>You'll get here 10 words in an image, which are handwritten. You have to look at them and try to spell them corretly.</p>
					</div>
				</div>
				<div class="text-center">
					<div class="wrap">
						<button class="button" onclick="window.location.href='{{ url_for( 'instructions_2' ) }}';">PROCEED</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>