<!doctype html>
<html>
<head>
	<title>Words for reading</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="../static/css/styles.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
	  <a class="navbar-brand" href="{{ url_for( 'home' ) }}">DyslexHelp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<ul class="navbar-nav mr-auto">
	  		<li class="nav-item notactive">
	        	<a class="nav-link" href="{{ url_for( 'home' ) }}">HOME</a>
	      	</li>
	      	<li class="nav-item dropdown notactive">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          STUDENT
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_1' ) }}">LISTEN</a>
	          		<a class="dropdown-item" href="https://shaileshthedarkknight.github.io/">TUTORIAL</a>
	          		<a class="dropdown-item" href="{{ url_for( 'instructions_2' ) }}">READ</a>
	          	</div>
	      </li>
	      	<li class="nav-item dropdown active">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          TEACHER
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_1' ) }}">WORDS FOR LISTENING</a>
	          		<a class="dropdown-item" href="{{ url_for( 'teacher_2' ) }}">WORDS FOR READING</a>
	          	</div>
	      	</li>
	      	<li class="nav-item notactive">
	        	<a class="nav-link" href="{{ url_for( 'about' ) }}">ABOUT</a>
	      	</li>
	  </div>
	</nav>
	<div class="container">
		<div class="row info">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h1 class="heading2">Hey Teachers! Here's what you have to do...</h1>
				<div class="card">
					<div class = "writeup">
						<p>You all are doing a fine job. We have made this app to help you. We have developed this application hoping that this will make the learning of kids more interesting. This will probably make your task easier too. We hope that this can help you all and the kids too. So, here we tell you what you have to do.</p>
						<br>
						<p>This section is for making the LISTENING ability of the kids better. All you have to do is add words which the kids find difficult to spell. As you are very experienced, you have a very good idea of the words which are difficult for them.</p>
						<br>
						<p>Here's how you do it:</p>
						<ul>
						  <li>Click the PROCEED button</li>
						  <li>Type the words. The words must be separated by ;.</li>
						  <li> These words will be read to the kids and they'll have to type in the place provided</li>
						  <li>Just click SUBMIT. Hurrah! The words are added to the list of words that will help the kids to get better.</li>
						  <li>We have provided you with a list of 20 words to start with.</li>
						  <li>It would be great if you could explain the kids what they have to do in the listening section.</li>
						</ul> 
					</div>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class = "row ending_2">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 text-center">
				<div class="wrap">
					<button class="button" onclick="window.location.href='{{ url_for( 'addwords' ) }}';">PROCEED</button>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
</body>
</html>